.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--limon, #a5e65a);
    padding: 0 1rem 0 1rem;
    min-height: 72px;
}

.navbar__main {
    display: flex
}

.navbar__short_logo {
    display: none;
}

.navbar__short_settings {
    display: none;
}

@media screen and (max-width: 950px) {
    .navbar {
        flex-direction: column;
        padding: 1rem 1rem 0 1rem;
    }

    .navbar__main {
        padding-bottom: 1rem;
        justify-content: space-between;
        width: 100%;
    }

    .navbar__settings {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .navbar {
        padding: 1rem 1rem 1rem 1rem;
    }
}

@media screen and (max-width: 400px) {
    .navbar {
        padding: 1rem 0.5rem 1rem 0.5rem;
    }
}