.categoryPricesDetails {
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0px 0px 10px 2px var(--white-grey);
    display: flex;
    flex-direction: column;
}

.categoryPricesDetails__category_name {
    text-align: center;
    color: var(--blue);
}

.categoryPricesDetails__cntr {
    padding: 1rem 0 1rem 0;
}

.categoryPricesDetails__elem_cntr {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    padding: 0rem 0.4rem;
    border-radius: 0.2rem;
}

.categoryPricesDetails_hr {
    border: 1px solid var(--white-grey);
    box-shadow: 0px 0px 5px 0px var(--white-grey);
}

.categoryPricesDetails__elem_name {
    margin-right: 1rem;
}

.categoryPricesDetails__price_cntr {
    display: flex;
    justify-content: flex-end;
    min-width: 6.5rem;
    padding: 0 0.2rem;
}

.categoryPricesDetails__price_curr {
    padding-left: 0.2rem;
}

@media screen and (max-width: 1000px) {
    .categoryPricesDetails__elem_cntr {
        grid-template-columns: 3fr 1fr 1fr;
    }
}

@media screen and (max-width: 750px) {
    .categoryPricesDetails__elem_cntr {
        grid-template-columns: 2fr 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .categoryPricesDetails {
        font-size: 0.9rem;
    }

    .categoryPricesDetails__elem_cntr {
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 0.2rem;
    }
}