a {
    color: var(--blue);
}

.contactPage {
    display: flex;
    flex-direction: column;
}

.contactPage__content {
    display: flex;
    flex-direction: column;
}

.contactPage__sent_msg_confirmation {
    text-align: center;
    color: var(--limon);
    padding-top: 2rem;
    margin: 7rem 0;

}

.contactPage__form_cntr {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.contactPage__form_el,
.contactPage__form_button {
    border-radius: 0.2rem;
    outline: none;
    border: 1px solid var(--blue);
    padding: 0.2rem;
    font-family: 'Ysabeau Infant';
    font-size: 0.9rem;
}

input,
textarea {
    font-family: 'Ysabeau Infant';
}

.contactPage__form_el {
    width: 20rem;
    margin: 0.2rem 0;
}

.contactPage__form_el_error {
    border: 1px solid red;
    border-radius: 0.2rem;
    padding: 0.2rem;
    width: 20rem;

}

.contactPage__form_el_errMsg {
    color: red;
    font-size: 0.8rem;
}

.contactPage__form_button {
    width: 6rem;
    margin: 0.4rem auto;
    color: white;
    font-weight: 600;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    font-size: 1rem;
}

.contactPage__details_el_cntr {
    text-align: center;
}